*{box-sizing: border-box;
padding: 0px;
margin: 0px;}

.box1{ 
    width: 1000px;
    height: 550px;
    margin: 80px auto;
    background-color:hsl(212, 45%, 89%) ;
    position: relative;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 10px 20px 0 lightgray;
}

.box2{width: 250px;
    height: 390px;
background-color: hsl(0, 0%, 100%);
    position: absolute;
    top: 14%;
    left: 39%;
    border-radius: 15px;
   box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    
    
   }

.box2 h4{
padding: 20px;
margin-top: -15px;
font-family: "Outfit";
font-weight: 1100;
font-size: 18px;}

img{width: 250px;
height: 240px;
padding: 11px;
border-radius: 19px;}

p{font-size: 12px;
font-weight: 400;
 font-family:"outfit";
margin: 0 19px; 
color: dimgray;}

